<div class="flex gap-4">
  <div class="grow">
    <label for="input" class="text-600 mb-2 block">Input</label>
    <%= render(Form::TextInputComponent.new) do |text| %>
      <% text.input do %>
        <input type="text" class="peer">
      <% end %>
    <% end %>
  </div>
</div>
