<div class="flex gap-4">
<button class="button-secondary">Secondary</button>
<button class="button-secondary" data-focused=true>Secondary</button>
<button class="button-secondary" disabled>Secondary</button>
</div>
