<% cache ["profile_#{profile.id}_#{profile.profile_name}", "v4"] do %>
    <details class="profile">
        <summary class="feed-link profile-link tag-link" >
            <span class="link-inner">
                <div style="height: 20px; width: 0;"></div>
                <div class="tag-visibility-control">
                    <%= svg_tag "icon-caret", class: "feed-action-button feed-action-expand", size: "12x7", style: "fill: white !important" %>
                </div>
                <span class="collection-label-wrap profile-label-color">
                    <span class="collection-label" ><%= profile.profile_name %></span>
                </span>
                <span class="count-wrap">
                    <%= content_tag :span, '', class: 'count', data: {behavior: 'needs_count', count_group: 'byTag', count_group_id: profile.id } %>
                </span>
            </span>
        </summary>
        <div class="drawer feed-drawer">
            <ul>
                <%= render partial: "tags/tag", collection: profile.tags %>
            </ul>
        </div>
    </details>
<% end %>