<%= form_for feed || tag, remote: true, html: {data: {behavior: 'tags_form'}, class: 'tags-form-field'} do |f| %>
  <% if tag %>
    <div class="tag-field-wrap tag-update">
      <%= f.text_field :name, autocomplete: 'off', placeholder: 'Tag Name' %>
    </div>
  <% else %>
    <div class="tag-field-wrap">
      <%= text_field_tag 'feed[tag_list]', tags.join(', '), autocomplete: 'off', class: 'feed_tag_list', placeholder: 'Tags (comma separated)' %>
    </div>
  <% end %>
<% end %>
<div data-behavior="tag_completions" class="completions">
</div>
