<%= form_for(subscription.feed, remote: true, method: :patch, html: {class: 'settings', data: {behavior: "edit_tags_form"}}) do |f| %>
    <div class="inset">
        <div class="inset-content">
            <h4 class="group-header"><label for="name">Name</label></h4>
        </div>
        <div class="inset-content">
            <div class="subscription-title-wrap">
                <div class="field-wrap">
                    <%= text_field_tag :name, subscription.title, placeholder: subscription.feed.title %>
                </div>
                <%= link_to "Unsubscribe", settings_subscription_path(subscription), method: :delete, class: "button button-secondary settings-unsubscribe", data: { confirm: "Are you sure you want to unsubscribe?" } %>
            </div>
        </div>

        <div class="inset-content">
            <h4 class="group-header">Tags</h4>
        </div>
        <%= render partial: "tag_fields", locals: {tag_editor: tag_editor} %>
    </div>
    <button class="hide" type="submit"></button>
<% end %>
