<% @class = 'login' %>
<div class="login-wrap">
    <a href="/" class="logo hide-text">Feedbin</a>
    <div class="box">
        <%= render partial: 'shared/flash', locals: {flash: flash} %>
        <h3 class="box-header">Reset Password</h3>
        <%= form_tag password_resets_path, novalidate: 'novalidate' do %>
            <p>
                <%= email_field_tag :email, params[:email], placeholder: 'Email' %>
            </p>
            <%= submit_tag "Send Reset Email", class: 'button' %>
        <% end %>
    </div>
</div>
