<p>Hey <%= @user.email %>,</p>
<p>This is Ben from Feedbin, the RSS reader with a beautiful reading experience. It's been a while since you signed up, but I wanted to let you know that Feedbin subscription pricing is going up soon.</p>
<p>I'm offering a discount this month to everyone who's been interested in the past.</p>
<p><a href="XX">Give Feedbin another shot!</a> Follow your passions and never miss a post from your favorite sites. Try it free for two weeks, and pay just $25 a year if you like it - that's half off the new pricing.</p>
<p>I’d love to hear any feedback or questions you might have, so just reply to this email anytime. Thanks for trying Feedbin!</p>
