<p>I first built Feedbin to keep up with all of the great blogs and websites that helped me become a better engineer, designer, and ultimately, a startup founder.</p>
<p>What are you passionate about? Take a few minutes to  add the URL of your favorite websites to Feedbin and we’ll keep you in the know.</p>
<p>Here are some interesting and lesser known sites you might be interested in:</p>
<ul>
    <li><a href="<%= subscribe_url('http://daringfireball.net/feeds/main') %>">Daring Fireball</a> - Apple & Technology</li>
    <li><a href="<%= subscribe_url('http://feeds.kottke.org/main') %>">Kottke.org</a> - The best stuff on the Web</li>
    <li><a href="<%= subscribe_url('http://weirdfictionreview.com/feed/') %>"> Weird Fiction Review</a> - Books</li>
    <li><a href="<%= subscribe_url('https://feedpress.me/beautifulpixels') %>"> Beautiful Pixels</a> - Design</li>
</ul>
<p>Not sure what sites to follow? Just reply to this email and I’ll send you a suggestion. Really!</p>
<p>Ben</p>
