<p>Your 14-day free trial expires today, but it’s not too late to <a href="<%= url_for settings_billing_url %>">save it</a>! For just $5 a month (or $50 a year) you can keep up with your passions and never miss a post.</p>
<p>Otherwise, this is where our paths diverge.</p>
<p>Thank you for using Feedbin, I really appreciate it! Have a great day.</p>
<p class="border">Ben</p>
<p><small><a href="<%= unsubscribe_link(@user) %>">Unsubscribe</a></small></p>
