<p>Feedbin keeps you informed with all the latest posts from your favorite websites. Want to read your feed on the go? I’ve got you covered.</p>
<p>Feedbin works with all the best native news readers for your iPhone, iPad, Android, Mac, or Windows devices. Connect one of these great apps to your Feedbin account today to enjoy your reading on the go.</p>
<p>As always, you can check out the Feedbin help site if you have any questions, or just reply to this email. Cheers!</p>
<p>Ben</p>
