<p>Your 14-day free trial expires today, but it’s not too late to save it! For just $5 a month (or $50 a year) you can keep up with your passions and never miss a post.</p>
<p>Otherwise, this is where our paths diverge. Thank you for using Feedbin, I really appreciate it! Have a great day.</p>