<p>Hey there,</p>
<p>Thanks for signing up for Feedbin, where you can follow your passions and never miss a post from your favorite websites.</p>
<p>This is a great time to add the URL of your favorite websites to Feedbin and we’ll keep every new post saved for you to read anytime.</p>
<p>No matter what you’re interested in, there are some incredible sites to keep up with. Some Feedbin favorites are Daring Fireball (Apple, Technology), SomeIndyJapaneseFashionSite? (Fashion), AnAwesomeBookReviewSite (Books), AGorgeousDesignBlog (Design).</p>
<p>I’ve been building Feedbin for four years now, and I hope you enjoy it as much as I do.</p>
<p>You can check out the Feedbin help site if you have any questions, or just reply to this email. Enjoy!</p>
<p>Ben</p>
