<p>Feedbin keeps you informed with all the latest posts from your favorite websites. Want to read your feed on the go? I’ve got you covered.</p>
<p>Feedbin works with all the best native news readers for your iPhone, iPad, Android, Mac, or Windows devices. <a href="https://feedbin.com/apps">Connect one of these great apps</a> to your Feedbin account today to enjoy your reading on the go.</p>
<p>As always, you can check out the <a href="https://feedbin.com/help">Feedbin help site</a> if you have any questions, or reply to this email. Cheers!</p>
<p class="border">Ben</p>
<p><small><a href="<%= unsubscribe_link(@user) %>">Unsubscribe</a></small></p>
