<p>I first built Feedbin to keep up with all of the great blogs and websites that helped me become a better engineer, designer, and ultimately, a startup founder.</p>
<p>What are you passionate about? Take a few minutes to  add the URL of your favorite websites to Feedbin and we’ll keep you in the know.</p>
<p>Here are some interesting and lesser known sites you might be interested in:</p>
<p>Something (Technology), SomethingElse (Fashion), AnotherAwesomeThing (Books), AGorgeousDesignBlog (Design).</p>
<p>Not sure what sites to follow? Just reply to this email and I’ll send you a suggestion. Really!</p>
<p>Ben</p>
