<p>I hope you’ve been enjoying Feedbin so far. It’s just $5 a month (or $50 a year) to keep your Feedbin account going - sign up for your paid account today.</p>
<p>Without a Feedbin membership we’ll stop refreshing your feed (and shed a little tear), but you can start your membership up at anytime.</p>
<p>Thanks! Ben</p>