<div class="mb-14 group-data-[stacked=true]:mb-4">
  <div <%= tag.attributes(@options) %>>
    <%= header %>
    <% if items? %>
      <div class="border-y group-data-[capsule=true]:border group-data-[capsule=true]:rounded-lg">
        <% items.each do |item| %>
          <%= item %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if description? %>
    <p class="text-sm text-500 mt-2"><%= description %></p>
  <% end %>
</div>
