<div class="py-4 flex items-center gap-4 group group-data-[capsule=true]:px-4">
  <% if icon? %>
    <div class="inset-y-0 self-stretch shrink-0 flex items-center">
      <%= icon %>
    </div>
  <% end %>
  <div class="grow overflow-hidden">
    <div class="text-600">
      <%= title %>
    </div>
    <% if description? %>
      <div class="text-500 text-sm">
        <%= description %>
      </div>
    <% end %>
  </div>
  <div class="items-center flex gap-4">
    <%= control %>
  </div>
</div>