<div class="grow">
  <div class="text-600">
    <%= title %>
  </div>
  <% if description.present? %>
  <div class="text-500 text-sm mt-2 ">
    <%= description %>
  </div>
  <% end %>
</div>
<div class="items-center flex gap-4">
  <%= control %>
</div>
