<div <%= tag.attributes(options) %>>
  <%= header %>
  <% if items? %>
    <div class="border-y group-data-[capsule=true]:border group-data-[capsule=true]:rounded-lg" data-item-container>
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </div>
  <% end %>
  <% if description? %>
    <p class="text-sm text-500 mt-2"><%= description %></p>
  <% end %>
</div>
