<div class="mb-14">
  <div class="mb-4 text-base text-700 font-bold">
    <%= header %>
  </div>

  <ul class="mb-4 border-t mb-8">
    <% items.each do |item| %>
    <li class="border-b">
      <%= item %>
    </li>
    <% end %>
  </ul>
</div>