<div class="mb-14 group-data-[stacked=true]:mb-4">
  <div <%= tag.attributes(@options) %>>
    <%= header %>
    <% if items? %>
      <div class="border-y group-data-[capsule=true]:border group-data-[capsule=true]:rounded-lg">
        <% items.each do |item| %>
          <div class="border-b last:border-b-0" data-item>
            <%= item %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
