<div class="mb-14">
  <%= header %>

  <% if items? %>
  <ul class="mb-4 border-t mb-8">
    <% items.each do |item| %>
    <li class="border-b">
      <%= item %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>