<%= component "settings/control_group", options do |group| %>
  <% if header? %>
    <% group.header do %>
      <%= header %>
    <% end %>
  <% end %>
  <% group.item do %>
    <%= description %>
  <% end %>
  <% group.item do %>
    <div class="grid [grid-template-rows:0fr] group-data-[expandable-open-value=true]:[grid-template-rows:1fr] transition-[grid-template-rows] duration-200 overflow-hidden">
      <ul class="min-h-0 border-t transition transition-[visibility,opacity] opacity-100 group-data-[expandable-open-value=false]:opacity-0 group-data-[expandable-open-value=false]:invisible">
        <% items.each do |item| %>
          <li class="border-b last:border-b-0">
            <%= item %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
