<div
  class="group pointer-events-none absolute inset-y-0 flex items-center z-10
         data-[position=leading]:left-0 data-[position=trailing]:right-0
         data-[position=leading]:pl-2 data-[position=trailing]:pr-2"
  data-position="<%= @position %>"
>
  <%= content %>
</div>