<div class="flex relative">
  <%= input %>
  <div class="absolute top-[-5px] right-[-5px] bottom-[-5px] left-[-5px] border-4 border-transparent rounded-[9px] pointer-events-none peer-focus:border-blue-400"></div>
</div>
