<%= content %>
<p class="diff-wrap">Viewing changes since original <%= link_to "view latest", entry_path(entry), remote: true, data: {behavior: 'reset_entry_content_position open_item show_entry_content'}, mark_as_read_path: mark_as_read_entry_path(entry) %></p>
