<div class="settings-content-inner">
    <div class="settings-outer">
        <h2>Import & Export</h2>
    </div>

    <%= render(Settings::BoxComponent.new) do |box| %>
      <% box.header do %>
        Import History
      <% end %>

      <% @imports.each do |import| %>
        <% box.item do %>
          <div class="grow">
            <div>
              <%= import.created_at.to_formatted_s(:date) %>
            </div>
            <div class="text-500 text-sm mt-2 ">
              <%= import.filename %>
            </div>
          </div>
          <div class="items-center">
            <a href="XX">Details</a>
          </div>
        <% end %>
      <% end %>
    <% end %>

</div>
