<div class="flex gap-4">
  <label>
    <input type="checkbox" class="peer">
    <%= render(Form::RadioButtonComponent.new) do |button| %>
      <% button.title { "Title" } %>
    <% end %>
  </label>
  <label>
    <input type="checkbox" class="peer" checked>
    <%= render(Form::RadioButtonComponent.new) do |button| %>
      <% button.title { "Title" } %>
    <% end %>
  </label>
</div>
