<div class="view-link-error-container">
    <p class="view-link-error"><span>Unable to get this content</span></p>
    <p>
        <a class="button button-secondary" target="_blank" rel="noopener noreferrer" href="<%= url %>">Visit Page</a>
        <a class="button" data-dismiss="modal">Close</a>
    </p>
</div>
