<% content_for :modal_content, flush: true do %>
    <form class="jump-search modal-header-input" data-behavior="jump_search">
        <%= search_field_tag(:q, "", placeholder: 'Search', autocorrect: "off", autocapitalize: "off", spellcheck: false, data: { behavior: 'jump_menu autofocus'}) %>
        <span class="icon"><%= svg_tag "icon-search", size: "16x16" %></span>
    </form>
<% end %>

<% content_for :modal_title, "", flush: true %>

<% content_for :modal_body, flush: true do %>
    <ul data-behavior="results_target" class="jump-options feed-list"></ul>
    <div class="hide" data-behavior="result_template">
        <li class="feed-link" data-behavior="jump_to">
            <span class="icon-wrap"></span>
            <span class="collection-label-wrap">
                <span class="text-wrap collection-label"></span>
            </span>
        </li>
    </div>
<% end %>

<% content_for :modal_footer, flush: true do %>
<% end %>

<%= render template: "layouts/modal", locals: {purpose: "search"} %>