<div class="<%= user.display_prefs %>">
    <div class="entry-inner">
        <div class="placeholder-content">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="spinner"></div>
    </div>
</div>
<%= form_tag(thread_tweet_path(entry), class: 'hide', remote: true, data: {behavior: 'view_conversation_contents_form'}) do %>
<% end %>
<script>
    $('[data-behavior~=view_conversation_contents_form]').submit()
</script>
