<div class="modal fade" tabindex="-1" role="dialog" id="view_conversation_wrap" data-behavior="view_conversation_wrap external_links">
    <div class="modal-dialog modal-view-link modal-conversation">
        <div class="modal-content">
            <div class="modal-body">
                <div data-behavior="markup_target"></div>
            </div>
        </div>
    </div>
</div>
