<%= form_for(saved_search, remote: true, method: :patch, html: {class: 'settings', data: {behavior: "edit_tags_form"}}) do |f| %>
    <div class="inset">
        <div class="inset-content">
            <ul class="control-group">
                <li>
                    <div class="subscription-title-wrap">
                        <div class="field-wrap">

                            <label>
                                <h4 class="group-header">Name</h4>
                                <%= f.text_field :name, class: 'subscription-title', placeholder: saved_search.name, class: 'subscription-title' %>
                            </label>
                        </div>
                        <% if saved_search.persisted? %>
                            <%= link_to "Delete", saved_search_path(saved_search), method: :delete, remote: true, class: "button button-secondary settings-unsubscribe", data: { confirm: "Are you sure you want to delete this saved search?" } %>
                        <% end %>
                    </div>
                </li>
                <li>
                    <div class="subscription-title-wrap">
                        <label>
                            <h4 class="group-header">Search</h4>
                            <%= f.text_field :query, class: 'subscription-title', placeholder: saved_search.query, class: 'subscription-title' %>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="hide" type="submit"></button>
<% end %>
