feedbin.modalContent("modal-purpose-generic", "<%= j render partial: 'form', locals: {saved_search: @saved_search} %>", '<button type="button" class="button" data-behavior="submit_tags">Save</button>');
$('.modal #saved_search_name').focus();