<div class="inset has-description">
    <h4 class="group-header">Your Plan</h4>
    <div class="control-group">
        <table class="table table-striped" style="margin-bottom: 0;">
            <tr>
                <td>In-App Subscription</td>
                <td>
                </td>
            </tr>
        </table>
    </div>
    <p class="control-group-description">You can manage your subscription in the Feedbin app.</p>
</div>

<%= render partial: 'shared/billing/payment_history' %>

<%= render partial: 'shared/billing/receipt_info' %>
