<div class="modal fade" tabindex="-1" role="dialog" id="add_form_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add</h4>
      </div>
      <div class="modal-body add-content">
        <%= render partial: 'feeds/search', locals: {query: nil, error: nil} %>
        <div data-behavior="subscribe_target"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-bordered" data-dismiss="modal">Cancel</button>
        <button type="button" class="button button-bordered">Add</button>
      </div>
    </div>
  </div>
</div>
