<div class="modal fade form-only" tabindex="-1" role="dialog" id="add_form_modal">
</div>
<div class="hide" data-behavior="add_form_markup">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <%= render partial: 'feeds/search', locals: {query: nil, error: nil} %>
            <div class="modal-body add-content feed-search-results">
                <div data-behavior="subscribe_target" class="available-subscriptions"></div>
            </div>
            <div class="modal-footer feed-search-results">
                <span data-behavior="feeds_search_messages" class="modal-footer-message">
                    <span data-behavior="feeds_search_message message_none" class="hide">Select one or more feeds</span>
                    <span data-behavior="feeds_search_message message_one" class="hide">Subscribe to the selected feed</span>
                    <span data-behavior="feeds_search_message message_multiple" class="hide">Subscribe to the selected feeds</span>
                </span>
                <button type="button" class="button button-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="button" style="margin-left: 10px;" data-behavior="submit_add" disabled="disabled">Add</button>
            </div>
        </div>
    </div>
</div>
