<div class="entry-button-wrap">
    <button class="entry-button button-settings" data-behavior="show_format_menu" title="Format options" data-toggle="tooltip">
        <%= svg_tag "icon-format" %>
    </button>
</div>
