<div class="entry-settings">
  <div class="setting-wrap">
    <select name="fonts">
      <option value="default">Helvetica Nueue/Default</option>
      <option value="serif-1">Sentinel</option>
      <option value="sans-serif-1">Whitney</option>
    </select>
  </div>
  <div class="setting-wrap">
    <%= link_to "", settings_font_decrease_path, remote: true, method: :post, class: 'button-decrease-font', data: {behavior: 'decrease_font'} %>
  </div>
  <div class="setting-wrap">
    <%= link_to "", settings_font_increase_path, remote: true, method: :post, class: 'button-increase-font', data: {behavior: 'increase_font'} %>
  </div>
  <div class="setting-wrap">
    <%= link_to "", settings_entry_width_path, remote: true, method: :post, class: 'button-entry-width' %>
  </div>
</div>
