<div class="entry-button-wrap">
    <button class="entry-button button-settings" data-behavior="show_format_menu" title="Format Options">
        <%= svg_tag 'icon-settings', size: '18x18' %>
    </button>
</div>
