<div class="entry-button-wrap">
    <button class="entry-button button-settings" data-behavior="show_entry_basement" data-basement-panel="settings_panel" title="Format Options">
        <%= svg_tag 'icon-settings', size: '18x18' %>
    </button>
</div>
