<p class="flex items-center p-2 bg-red-200 gap-2 rounded-lg mb-4">
  <%= svg_tag "icon-error-message-small", class: "fill-red-600"  %>
  <span class="text-[var(--day-color-600)]">
    <%= yield %>
  </span>
</p>
