<div class="bottom-toolbar feed-toolbar">
    <button class="toolbar-button" disabled="disabled">
        <div class="toolbar-button-inner">
            <%= svg_tag "icon-settings", size: "18x18" %>
        </div>
        <span>Settings</span>
    </button>
    <button class="toolbar-button" disabled="disabled" data-behavior="mark_all_as_read">
        <div class="toolbar-button-inner">
            <%= svg_tag "mark-read", size: "19x17" %>
        </div>
        <span>Read</span>
    </button>
</div>
