<div class="bottom-toolbar">
  <table cellpadding="0">
    <tbody>
      <tr>
        <td>
          <%= render partial: 'shared/buttons/tag', locals: {feed: nil, tags: nil, tag: nil} %>
        </td>
        <td>
          <%= render partial: 'shared/buttons/mark_all_as_read', locals: {type: nil, data: nil} %>
        </td>
        <td>
          <%= render partial: 'shared/buttons/unsubscribe', locals: {feed: nil} %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
