<div class="bottom-toolbar feed-toolbar">
    <div class="toolbar-inner">
        <button class="toolbar-button edit-button" disabled="disabled" data-behavior="feed_settings" data-open-dialog="">
            <div class="toolbar-button-inner">
                <%= svg_tag "icon-edit" %>
            </div>
            <span>Edit</span>
        </button>

        <button class="toolbar-button add-button" data-behavior="show_subscribe" data-open-dialog="<%= Dialog::AddFeed.dom_id %>">
            <div class="toolbar-button-inner">
                <%= svg_tag "icon-add" %>
            </div>
            <span>Add</span>
        </button>

        <button class="toolbar-button" disabled="disabled" data-behavior="mark_all_as_read">
            <div class="toolbar-button-inner">
                <%= svg_tag "icon-mark-read" %>
            </div>
            <span>Read</span>
        </button>
    </div>
</div>
