<div class="bottom-toolbar">
    <table cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <%= render partial: "shared/buttons/tag", locals: {subscription: nil} %>
                </td>
                <td>
                    <%= render partial: "shared/buttons/mark_all_as_read", locals: {type: nil, data: nil} %>
                </td>
                <td>
                    <%= render partial: "shared/buttons/unsubscribe", locals: {subscription: nil} %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
