<% if flash[:alert] %>
    <div class="alert alert-info">
        <%= flash[:alert] %>
    </div>
<% end %>
<% if flash[:error] %>
    <div class="alert alert-error">
        <%= flash[:error] %>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>
