<div class="entry-button-wrap">
  <button class="entry-button button-full-screen" data-behavior="full_screen" title="Close full screen">
    <%= svg_tag 'icon-full-screen-close-small', size: '18x17' %>
  </button>
</div>