<div class="settings-button-wrap">
    <%= link_to settings_path, class: "app-settings-button" do %>
        <div class="hamburger-menu-wrap">
            <div class="hamburger-menu"></div>
        </div>
    <% end %>
    <button class="web-settings-button hamburger-menu-wrap mobile-hamburger" data-open-dialog="<%= Dialog::SettingsNav.dom_id %>">
        <div class="hamburger-menu"></div>
    </button>
</div>
