<div class="hide" data-behavior="keyboard_shortcuts">
  <div class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Feedbin Help</h3>
      </div>
      <div class="modal-body">
        <%= render partial: "shared/keyboard_shortcuts" %>
      </div>
      <div class="modal-footer">
        <div class="half text-left">
          <a href="/home">Home Page</a>
        </div>
        <div class="half">
          <a href="https://github.com/feedbin/support#readme">Contact & Support</a>
        </div>
      </div>
  </div>
</div>