<div class="hide" data-behavior="keyboard_shortcuts">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Feedbin Help</h4>
        </div>
        <div class="modal-body">
        <%= render partial: "shared/keyboard_shortcuts" %>
        </div>
        <div class="modal-footer clearfix">
          <div class="half text-left">
            <a href="/home">Home Page</a>
          </div>
          <div class="half">
            <a href="https://github.com/feedbin/support#readme">Contact & Support</a>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>