<div class="link-actions dropdown-wrap" data-behavior="link_actions toggle_dropdown">
    <div class="dropdown-content">
        <ul>
            <li>
                <span class="skip view-link-app" data-behavior="view_link">View link in Feedbin</span>
                <span class="skip view-link-tab" data-behavior="view_link">Open link in a new tab</span>
            </li>
        </ul>
    </div>
</div>
