<div class="link-actions dropdown-wrap" data-behavior="link_actions toggle_dropdown">
    <div class="dropdown-content">
        <ul>
            <li>
                <%= link_to "View Contents", view_link_entry_path(entry), remote: true, class: "skip", data: {behavior: 'view_link'} %>
            </li>
        </ul>
    </div>
</div>
