<div class="entry-inner">
    <div class="placeholder-content">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div class="spinner-container">
        <span class="spinner large"></span>
    </div>
</div>
