<div class="entry-inner">
    <div class="placeholder-content">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div class="spinner"></div>
</div>
