<div class="modal fade" tabindex="-1" role="dialog" id="general_modal" data-behavior="general_modal external_links">
    <div class="modal-dialog modal-view-link">
        <div class="modal-content">
            <div class="modal-body">
                <div class="<%= user.display_prefs %>" data-behavior="modal_placeholder">
                    <div class="entry-inner">
                        <div class="placeholder-content">
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="spinner"></div>
                    </div>
                </div>
                <div data-behavior="markup_target"></div>
            </div>
        </div>
    </div>
</div>
