<div class="notification hide" data-behavior="notification_container">
    <div class="notification-content-wrap">
        <div class="icon-container">
            <%= svg_tag "icon-error-message" %>
            <%= svg_tag "icon-success-message" %>
        </div>
        <div class="notification-content" data-behavior="notification_content"></div>
        <button class="reset icon-container" data-behavior="close_message">
            <%= svg_tag "icon-close" %>
        </button>
    </div>
</div>
