<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><a href="http://blog.feedbin.me">Blog</a> | <a href="<%= apps_path %>">Apps</a> | <a href="https://github.com/feedbin/support#readme">Support</a> | <a href="https://github.com/feedbin/feedbin-api#readme">API</a> | <a href="<%= privacy_policy_path %>">Privacy Policy</a></p>
      </div>
      <div class="col-sm-6 text-right">
        <p><a href="mailto:support@feedbin.me">Email</a> | <a href="https://twitter.com/feedbin">Twitter</a> | <a href="https://github.com/feedbin/feedbin">GitHub</a></p>
      </div>
    </div>
    <hr class="space-small" />
    <p class="copy">© <%= Time.now.year %> Feedbin, Inc.</p>
  </div>
</footer>
