<div class="modal fade" tabindex="-1" role="dialog" id="settings_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%= svg_tag 'icon-full-screen-close-small', size: '16x16' %></button>
                <h4 class="modal-title">Settings Menu</h4>
            </div>
            <div class="modal-body">
                <%= render partial: 'shared/settings_nav' %>
            </div>
            <div class="modal-footer clearfix">
            </div>
        </div>
    </div>
</div>
