<% if @user.setting_on?(:starred_feed_enabled) %>
    <span class="truncated">Feed URL: <%= link_to starred_url(user.starred_token, format: :xml), starred_url(user.starred_token, format: :xml) %></span>
<% else %>
    For <a href="https://feedbin.com/blog/2013/04/10/starred-entry-feed/">integrating with other services</a>.
<% end %>

