<p class="control-group-description">
    Your starred feed: <a href="<%= starred_url(user.starred_token, format: :xml) %>" style="word-break: break-all;"><%= starred_url(user.starred_token, format: :xml) %></a>
</p>
