<ul class="control-group">
    <li>
        <button data-behavior="add_tag" type="button">+ New Tag</button>
    </li>
</ul>

<ul class="control-group tags-target no-border" data-behavior="tags_target"></ul>

<%= content_tag :ul, class: "control-group" do  -%>
    <% tag_editor.tags.each do |tag| %>
    <li>
        <%= check_box_tag "tag_id[#{tag.id}]", tag.name, tag_editor.checked?(tag) %>
        <%= label_tag "tag_id[#{tag.id}]" do %>
            <%= tag.name %> <span class="slider-checkbox"></span>
        <% end %>
    </li>
    <% end %>
<%- end -%>
