<div class="modal fade" tabindex="-1" role="dialog" id="view_link_wrap" data-behavior="view_link_wrap">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div data-behavior="markup_target"  class="content-styles"></div>
      </div>
    </div>
  </div>
</div>