<div class="modal fade" tabindex="-1" role="dialog" id="view_link_wrap" data-behavior="view_link_wrap">
    <div class="modal-dialog modal-fluid">
        <div class="modal-content">
            <div class="modal-body">
                <div data-behavior="markup_target"></div>
            </div>
        </div>
    </div>
</div>
<%= form_tag(view_link_entries_path, class: 'hide', remote: true, data: {behavior: 'view_link_form'}) do %>
    <%= hidden_field_tag 'url', nil %>
<% end %>
<%= form_tag(view_link_cache_entries_path, class: 'hide', remote: true, data: {behavior: 'view_link_cache_form'}) do %>
    <%= hidden_field_tag 'url', nil %>
<% end %>
