<div class="<%= user.display_prefs %> link-loading">
    <div class="entry-inner">
        <p class="post-meta">
            <%= host %>
        </p>
        <h1></h1>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
<%= form_tag(view_link_contents_entries_path, class: 'hide', remote: true, data: {behavior: 'view_link_contents_form'}) do %>
    <%= hidden_field_tag 'url', url %>
<% end %>
<script>
    $('[data-behavior~=view_link_contents_form]').submit()
</script>
