<div class="settings-content-inner">
    <div class="settings-outer">
        <h2>Save</h2>
    </div>
    <div class="inset">
        <div class="inset-content">
            <h4 class="group-header">Read Later</h4>
        </div>
        <ul class="pill-list">
            <li>Drag this to your bookmarks bar: <%= bookmarklet %></li>
        </ul>
        <p class="control-group-description">
            Use this bookmarklet to save articles from the web to Feedbin.
        </p>
    </div>
</div>
