<% if tag.blank? %>
<div class="toolbar-button" data-behavior="unsubscribe" disabled="disabled">
  <div class="toolbar-button-inner">
    <%= render partial: "shared/svg/trash" %>
  </div>
  Delete
</div>
<% else %>
  <%= link_to tag_path(tag),
        method: :delete, remote: true, class: 'toolbar-button', title: 'Delete tag',
        data: { behavior: 'unsubscribe', confirm: "Are you sure you want to delete #{tag.name}?" } do %>
    <span class="toolbar-button-inner">
      <%= render partial: "shared/svg/trash" %>
    </span>
    Delete
  <% end %>
<% end %>

