<button class="toolbar-button" disabled="disabled" data-behavior="mark_all_as_read">
    <div class="toolbar-button-inner">
        <%= render partial: "shared/svg/check" %>
    </div>
    Mark Read
</button>
