<div data-behavior="tags_form">
    <%= form_tag (feed) ? edit_tags_feed_path(feed) : nil, remote: true, method: :get do %>
        <%= content_tag :button, class: 'toolbar-button', data: {behavior: 'open_modal', modal_target: "tags"}, disabled: feed.nil? do %>
            <div class="toolbar-button-inner">
                <%= render partial: "shared/svg/tag" %>
            </div>
            Tag
        <% end %>
    <% end %>
</div>
