<div data-behavior="tags_form">
    <%= form_tag (subscription) ? edit_tags_feed_path(subscription.feed) : nil, remote: true, method: :get do %>
        <%= content_tag :button, class: 'toolbar-button', data: {behavior: 'open_modal', modal_target: "tags", modal_title: (subscription) ? subscription.title || subscription.feed.title : nil}, disabled: subscription.nil? do %>
            <div class="toolbar-button-inner">
                <%= render partial: "shared/svg/tag" %>
            </div>
            Tag
        <% end %>
    <% end %>
</div>
