<%
if tags.nil? && tag.nil?
  disabled = 'disabled="disabled"'
else
  disabled = ''
end
%>
<div class="toolbar-button" data-behavior="show_tags_form" <%= raw disabled %>>
  <div class="toolbar-button-inner">
    <div class="tags-form-wrap">
      <div data-behavior="tags_form_target" class="tags-form">
        <% if !feed.blank? || !tag.blank? %>
        <%= render partial: "feeds/form", locals: {feed: feed, tags: tags, tag: tag} %>
        <% end %>
      </div>
    </div>
    <%= render partial: "shared/svg/tag" %>
  </div>
  Tag
</div>