<div data-behavior="tags_form">
    <div class="tags-form-wrap">
        <div data-behavior="tags_form_target" class="tags-form">
            <% if feed.present? %>
                <%= render partial: "feeds/form", locals: {feed: feed, tags: tags, tag: tag} %>
            <% end %>
        </div>
    </div>
    <%= content_tag :button, class: 'toolbar-button', data: {behavior: 'show_tags_form'}, disabled: tags.nil? do %>
        <div class="toolbar-button-inner">
            <%= render partial: "shared/svg/tag" %>
        </div>
        Tag
    <% end %>
</div>
