<% if feed.blank? %>
	<div class="toolbar-button" data-behavior="unsubscribe" disabled="disabled">
    <div class="toolbar-button-inner">
      <%= render partial: "shared/svg/trash" %>
    </div>
    Delete
	</div>
<% else %>
	<%= link_to subscription_path(feed.subscription_id),
        method: :delete, remote: true, class: 'toolbar-button', title: 'Unsubscribe',
        data: { behavior: 'unsubscribe', confirm: "Are you sure you want to unsubscribe from #{feed.title}?" } do %>
    <span class="toolbar-button-inner">
      <%= render partial: "shared/svg/trash" %>
    </span>
    Delete
	<% end %>
<% end %>
