<p class="service-title"><%= sharing_service.label %></p>
<%= link_to 'Deactivate', supported_sharing_service_path(sharing_service), class: 'list-action show-service-options button-text-secondary', method: :delete %>
