<p class="service-title <%= "icon-share-#{sharing_service.service_id}" %>"><%= sharing_service.label %></p>
<%= link_to 'Deactivate', supported_sharing_service_path(sharing_service), class: 'list-action danger', method: :delete %>
