---
:concurrency: 10
:queues:
  - [crawl,                                  1]
  - [crawl_<%= `hostname`.strip %>,          1]
  - [crawl_images,                           2]
  - [crawl_critical,                         3]
  - [default,                                1]
  - [default_critical,                       4]
  - [network_default,                        1]
  - [network_search,                         1]
  - [parse,                                  1]
  - [parse_<%= `hostname`.strip %>,          1]
  - [parse_critical_<%= `hostname`.strip %>, 2]
  - [process_<%= `hostname`.strip %>,        2]
  - [utility,                                1]
  - [utility_critical,                       2]
