<% @class = 'login' %>
<div class="login-wrap">
    <a href="/" class="logo hide-text">Feedbin</a>
    <div class="box">
        <p>You have successfully closed your Feedbin account and canceled your subscription.</p>
        <p class="no-margin">Thanks for your business!</p>
    </div>
</div>
