<% @class = 'login theme-auto' %>
<div class="login-wrap">
    <a href="/" class="logo">
        <%= svg_tag "logo-full", inline: true %>
    </a>
    <div class="box">
        <p>You have successfully closed your Feedbin account and canceled your subscription.</p>
        <p class="no-margin">Thanks for your business!</p>
    </div>
</div>
