<% @class = 'login' %>
<div class="login-wrap">
    <a href="/" class="logo hide-text">Feedbin</a>
    <div class="box">
        <strong><%= @user.email %></strong> has unsubscribed from all Feedbin marketing emails.
    </div>
</div>
