<% @class = 'login theme-auto' %>
<div class="login-wrap">
    <a href="/" class="logo">
        <%= svg_tag "logo-full", inline: true %>
    </a>
    <div class="box">
        <strong><%= @user.email %></strong> has unsubscribed from all Feedbin marketing emails.
    </div>
</div>
