<%
@class = 'public-page sub-page'
@title = 'Not Found'
%>
<div class="container">
  <div class="row">
    <div class="span8">
      <div class="content-inner">
        <h1 class="alt">Not Found</h1>
        <p>The page you were looking for does not exist.</p>
      </div>
    </div>
  </div>
</div>