<% @title = 'Not Found' %>
<div class="main-content">
    <div class="container">
        <h1 class="sub-page">Not Found</h1>
        <p class="large">The page you were looking for does not exist.</p>
    </div>
</div>
