<%
@class = 'public-page sub-page'
@title = 'Service Unavailable'
%>
<div class="container">
  <div class="row">
    <div class="span8">
      <div class="content-inner">
        <h1 class="alt">Service Unavailable</h1>
        <p>Feedbin is undergoing maintenance.</p>
        <p>See you again soon.</p>
      </div>
    </div>
  </div>
</div>