<% @title = 'Service Unavailable' %>
<div class="main-content">
  <div class="container">
    <h2 class="tagline-small align-left">Service Unavailable</h2>
    <p class="large">Feedbin is undergoing maintenance.</p>
  </div>
</div>
