<%=
demo = Class.new(Phlex::HTML) do
  def view_template(&)
    unsafe_raw('<button onclick="window.dispatchEvent(new CustomEvent(\'dialog:open\'))">Open</button>')
    render App::DialogComponent.new(purpose: "") do |dialog|
      dialog.title { "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." }
    end
  end
end
render demo.new
%>
