<% if @subscription %>
    feedbin.modalContent("modal-purpose-generic", "<%= j render partial: 'form', locals: {tag_editor: @tag_editor, subscription: @subscription} %>", '<button type="button" class="button" data-behavior="submit_tags">Save</button>');
<% end %>
