<div class="settings-content-inner">
    <div class="settings-outer">
        <h2>Subscriptions</h2>
    </div>
    <%= render partial: 'form', locals: {subscription: @subscription, tag_editor: @tag_editor} %>
</div>
