<% if services.present? %>
    <div class="entry-button-wrap">
        <div class="dropdown-wrap button-toggle-share-menu entry-button">
            <a class="entry-button" data-behavior="toggle_share_menu toggle_dropdown" href="#" title="Share">
                <%= svg_tag 'icon-share', size: '16x16' %>
            </a>
            <div class="dropdown-content">
                <ul data-behavior="share_options">
                    <% services.each_with_index do |service, row| %>
                        <li class="share-option">
                            <%= link_to service[:url], service[:html_options] do %>
                                <div class="label"><%= service[:label] %></div>
                                <% if row < 9 %>
                                    <i class="share-keyboard"><%= row + 1 %></i>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
