<% if services.any? %>
<div class="entry-button-wrap">
  <div class="dropdown-wrap button-toggle-share-menu entry-button">
    <a class="entry-button" data-behavior="toggle_share_menu toggle_dropdown" href="#" title="Share">
      <%= svg_tag 'icon-share', size: '16x16' %>
    </a>
    <ul>
      <% services.each do |service| %>
        <li><%= link_to service[:label], service[:url], service[:html_options] %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>