<div class="entry-button-wrap" data-behavior="share_button_wrap">
    <div class="dropdown-wrap button-toggle-share-menu entry-button">
        <button class="reset entry-button" data-behavior="toggle_share_menu toggle_dropdown" title="Share <i>f</i>" data-toggle="tooltip" data-html="true">
            <%= svg_tag 'icon-share-arrow' %>
        </button>
        <div class="dropdown-content">
            <ul data-behavior="share_options">
            </ul>
        </div>
    </div>
</div>
