<div class="flex h-full w-full items-stretch snap-x snap-mandatory overflow-x-auto scroll-smooth hide-scrollbar md:overflow-hidden">
  <div class="flex snap-align-none scroll-smooth hide-scrollbar md:w-[300px] md:border-r md:shrink-0 md:overflow-x-scroll md:snap-x md:snap-mandatory lg:w-auto">
    <div class="shrink-0 w-[100vw] snap-center md:w-full lg:w-[250px] lg:border-r" id="one">
      <div class="flex flex-col h-full" data-controller="expandable" data-expandable-open-value="true">
        <div class="overflow-hidden transition-all min-h-auto max-h-auto shrink-0" data-expandable-target="container">
          <div class="bg-100 p-4" data-expandable-target="content">
            Header
          </div>
        </div>
        <div class="p-4 grow overflow-y-scroll overscroll-y-contain" data-action="click->expandable#toggle">
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
          <p class="mb-2">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="bg-100 shrink-0 p-4">
          Footer
        </div>
      </div>
    </div>
    <div class="shrink-0 w-[100vw] snap-center md:w-full lg:w-[300px] overflow-y-scroll overscroll-y-contain" id="two">
      <div class="p-4">
        <button onclick="document.getElementById('three').scrollIntoView()">Article</button>
      </div>
    </div>
  </div>
  <div class="shrink-0 w-[100vw] snap-center md:grow md:shrink md:w-auto overflow-y-scroll overscroll-y-contain" id="three">
    <div class="p-4">
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-2">Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</div>