<%
@class = 'public-page sub-page'
@title = 'Feedbin Privacy Policy'
%>
<div class="container pad-bottom">
  <div class="row">
    <div class="span8">
      <div class="content-inner">
        <h1 class="alt">Privacy Policy</h1>
        <p><small>Privacy is very important to Feedbin.</small></p>
        <p><small>SSL is used site-wide. Cookies are used for authentication and session data only. Site cookies are first-party, HTTP only and secure.</small></p>
        <p><small>Payment is handled through <a href="https://stripe.com">Stripe</a> so your email address and payment information is shared with them. <a href="https://stripe.com/us/privacy">View their privacy policy</a> for more information. <a href="http://get.gaug.es/privacy/">Gaug.es</a> is used to collect anonymous analytics data. Your information is never shared with advertisers.</small></p>
        <p><small>If you have any questions or concerns about our privacy policies, please contact us: <a href="mailto:support@feedbin.me">support@feedbin.me</a>.</small></p>
      </div>
    </div>
  </div>
</div>