<% @title = 'Feedbin Privacy Policy' %>
<div class="main-content">
  <div class="container">
    <h1 class="sub-page">Privacy Policy</h2>
    <p class="large">Privacy is very important to Feedbin.</p>
    <p class="large">SSL is used site-wide. Cookies are used for authentication and session data only. Site cookies are first-party, HTTP only and secure.</p>
    <p class="large">Payment is handled through <a href="https://stripe.com">Stripe</a> so your email address and payment information is shared with them. <a href="https://stripe.com/us/privacy">View their privacy policy</a> for more information. <a href="http://google.com/analytics">Google Analytics</a> is used to collect anonymous analytics data. Your information is never shared with advertisers.</p>
    <p class="large">If you have any questions or concerns about our privacy policies, please contact us: <a href="mailto:support@feedbin.me">support@feedbin.me</a>.</p>
  </div>
</div>
