<div class="flex gap-4">
  <label>
    <input type="checkbox" class="peer">
    <%= render(Settings::SwitchComponent.new) do |switch| %>
      <% switch.title { "Title" } %>
    <% end %>
  </label>
  <label>
    <input type="checkbox" class="peer" checked>
    <%= render(Settings::SwitchComponent.new) do |switch| %>
      <% switch.title { "Title" } %>
    <% end %>
  </label>
</div>
