@mixin respond-to($media) {
	@if $media == ipad {
		@media only screen and (max-width: 1024px) { @content; }
	}
	@else if $media == hidpi {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			@content;
		}
	}
	@else if $media == screen-xs {
		@media (min-width: 480px) {
			@content;
		}
	}
	@else if $media == screen-sm {
		@media (min-width: 768px) {
			@content;
		}
	}
	@else if $media == screen-md {
		@media (min-width: 992px) {
			@content;
		}
	}
	@else if $media == screen-lg {
		@media (min-width: 1200px) {
			@content;
		}
	}
}

@mixin arrow($x-position, $y-position, $arrow-color, $arrow-color-night, $shadow-color, $shadow-color-night, $origin:left) {
	&:before {
		@if $origin == left {
			left: $x-position;
		}
		@else {
			right: $x-position;
		}
		top: $y-position;
		position: absolute;
		border-right: 6px solid rgba(0, 0, 0, 0);
		border-top: 6px solid $shadow-color;
		border-left: 6px solid rgba(0, 0, 0, 0);
		border-bottom-color: rgba(0, 0, 0, 1);
		content: '';
		.theme-night & {
			border-top-color: $shadow-color-night;
		}
		@content;
	}
	&:after {
		@if $origin == left {
			left: $x-position + 1;
		}
		@else {
			right: $x-position + 1;
		}
		top: $y-position;
		position: absolute;
		border-right: 5px solid rgba(0, 0, 0, 0);
		border-top: 5px solid $arrow-color;
		border-left: 5px solid rgba(0, 0, 0, 0);
		content: '';
		.theme-night & {
			border-top-color: $arrow-color-night;
		}
		@content;
	}
}

@mixin background-color($day, $night) {
	background-color: $day;
	.theme-night & {
		background-color: $night;
	}
}

@mixin color($day, $night) {
	color: $day;
	.theme-night & {
		color: $night;
	}
}

@mixin border-color($day, $night) {
	border-color: $day;
	.theme-night & {
		border-color: $night;
	}
}

@mixin stroke($day, $night) {
	stroke: $day;
	.theme-night & {
		stroke: $night;
	}
}

@mixin fill($day, $night) {
	fill: $day;
	.theme-night & {
		fill: $night;
	}
}

