$themes: day sunset dusk midnight;

@mixin theme($property, $map, $root: false, $extra: null) {
    @if type-of($map) != 'map' {
        $map: (day: $map, sunset: $map, dusk: $map, midnight: $map);
    }

    @each $theme in $themes {
        @if false == map_has_key($map, $theme) {
            @error "Missing value for `#{$theme}` theme";
        }
    }

    /* variable name: $#{map-get($map, debug)} */
    #{$property}: map-get($map, day) $extra;
    @if $root {
        @at-root {
            @each $theme in $themes {
                #{selector-append(".theme-#{$theme}", &)} {
                    /* variable name: $#{map-get($map, debug)} */
                    #{$property}: map-get($map, $theme) $extra;
                }
            }
        }
    }
    @else {
        @each $theme in $themes {
            .theme-#{$theme} & {
                /* variable name: $#{map-get($map, debug)} */
                #{$property}: map-get($map, $theme) $extra;
            }
        }
    }
}

@mixin box-shadow($map, $properties, $args...) {
    @if type-of($map) != 'map' {
        $map: (day: $map, sunset: $map, dusk: $map, midnight: $map);
    }
    $shadow: (
        day: $properties map-get($map, day),
        dusk: $properties map-get($map, dusk),
        sunset: $properties map-get($map, sunset),
        midnight: $properties map-get($map, midnight),
    );
    @include theme("box-shadow", $shadow, $args...);
}

@mixin box-shadow-irregular($args...) {
    @include theme("box-shadow", $args...);
}

@mixin color($args...) {
    @include theme("color", $args...);
}

@mixin background($args...) {
    @include theme("background", $args...);
}

@mixin background-color($args...) {
    @include theme("background-color", $args...);
}

@mixin background-image($args...) {
    @include theme("background-image", $args...);
}

@mixin border-color($args...) {
    @include theme("border-color", $args...);
}

@mixin border($args...) {
    border-width: 1px;
    border-style: solid;
    @include border-color($args...);
}

@mixin border-top($args...) {
    border-top-width: 1px;
    border-top-style: solid;
    @include border-color($args...);
}

@mixin border-right($args...) {
    border-right-width: 1px;
    border-right-style: solid;
    @include border-color($args...);
}

@mixin border-bottom($args...) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @include border-color($args...);
}

@mixin border-left($args...) {
    border-left-width: 1px;
    border-left-style: solid;
    @include border-color($args...);
}

@mixin stroke($args...) {
    @include theme("stroke", $args...);
}

@mixin fill($args...) {
    @include theme("fill", $args...);
}