<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en">
<head>
  <title><%= entry.plain_title_with_default %></title>
</head>
<body>
  <h1><%= entry.plain_title_with_default %></h1>
  <nav epub:type="toc" id="toc" role="doc-toc">
    <h2>Table of Contents</h2>
    <ol>
      <li><a href="article.xhtml"><%= entry.plain_title_with_default %></a></li>
    </ol>
  </nav>
</body>
</html>
