<button class="flex items-center gap-2 w-full text-left rounded p-2 hover:bg-100 focus:bg-100" data-search-token-target="focusable" data-action="search-token#tokenSelected" data-search-token-index-param="">
  <div class="shrink-0 w-[20px] h-[20px] rounded-[1px] flex items-center justify-center" data-template="icon">
    <%= icon %>
  </div>
  <div class="truncate grow" data-template="text">
    <%= text %>
  </div>
</button>
