<div class="flex gap-4">
  <div>
    <%= check_box_tag :example, nil, false, class: "peer" %>
    <label for="example" class="group flex gap-2 items-center py-3 px-4">
      <%= render(Settings::CheckBoxComponent.new) %>
      Label
    </label>
  </div>
  <div>
    <%= check_box_tag :example, nil, true, class: "peer" %>
    <label for="example" class="group flex gap-2 items-center py-3 px-4">
      <%= render(Settings::CheckBoxComponent.new) %>
      Label
    </label>
  </div>
</div>


