<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
        p, li {
            font-size: 13px;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial;
            color: #333333;
        }
    </style>
</head>
<body>
    <%= yield %>
    <img src="<%= url_for("https://www.google-analytics.com/collect?#{{v: 1, t: 'event', ec: 'email', ea: 'open', dt: message.subject, tid: ENV['ANALYTICS_ID']}.to_query}") %>"/>
</body>
</html>
