<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <style type="text/css" media="screen">
            p, li {
                font-size: 13px;
                line-height: 20px;
                font-weight: normal;
                font-style: normal;
                font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial;
                color: #333333;
            }
            .border {
                border-bottom: 1px solid #CCC;
                padding-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
