<div class="hide" data-behavior="modal_content" data-modal-purpose="<%= purpose %>">
    <div class="modal-dialog <%= (local_assigns.has_key?(:classes)) ? classes : nil  %>" role="document">
        <%= render template: "layouts/modal_inner", locals: local_assigns %>
    </div>
</div>