<% @class = 'settings' %>
<% content_for :app_content do %>

<%= render partial: 'layouts/settings_nav' %>
<div class="settings-content">
  <%= render partial: 'shared/flash', locals: {flash: flash} %>
  <%= yield %>
</div>
<% end %>
<%= render template: 'layouts/application' %>
