<% @class = 'public-page' %>
<% content_for :content do %>
  <div class="header">
    <div class="container">
      <div class="super-header-wrap-alt">
        <div class="row">
          <div class="col-xs-6"><a href="/" class="home-logo hide-text">Feedbin</a></div>
          <div class="col-xs-6 align-right"><%= link_to "Login", login_path, class: "button-login" %></div>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
  <%= render partial: "shared/public_footer" %>
<% end %>
<%= render template: 'layouts/wrap' %>